.App {
  font-family: sans-serif;
  margin-top: 50px;
  margin-left: 50px;
}

.heading {
  font-size: 24px;
  color: gray;
  font-weight: 500;
  margin-bottom: 20px;
}

.content {
  display: flex;
}

.selectNum {
  position: absolute;
  right: 100px;
  top: 20px;
}
